<%- include('partials/header') %>

<%- include('partials/welcomenav') %>

<br><br><br><br><br><br>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner mb-4">
    <div class="carousel-item">
      <div class="page-header min-vh-75 m-3 border-radius-xl" style="background-image: url('https://www.freightwaves.com/wp-content/uploads/2023/06/23/Borderlands_tomatoes_Florida.jpeg');">
        <span class="mask bg-gradient-dark"></span>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 my-auto">
      
              <h1 class="text-white fadeIn2 fadeInBottom"></h1>
              <p class="lead text-white opacity-8 fadeIn3 fadeInBottom"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
     <div class="carousel-item">
      <div class="page-header min-vh-75 m-3 border-radius-xl" style="background-image: url('https://www.freightwaves.com/wp-content/uploads/2019/08/Commerce_Department_Says_1.jpg');">
        <span class="mask bg-gradient-dark"></span>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 my-auto">
              
              <h1 class="text-white fadeIn2 fadeInBottom"></h1>
              <p class="lead text-white opacity-8 fadeIn3 fadeInBottom"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="page-header min-vh-75 m-3 border-radius-xl" style="background-image: url('https://cdn.farmjournal.com/s3fs-public/styles/840x600/public/BFDA737B-03DE-4C26-AE42D608A3473893.png?itok=-Ko421QL');">
        <span class="mask bg-gradient-dark"></span>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 my-auto">
             
              <h1 class="text-white fadeIn2 fadeInBottom"></h1>
              <p class="lead text-white opacity-8 fadeIn3 fadeInBottom"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="min-vh-50 position-absolute w-100 top-0">
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon position-absolute bottom-50" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon position-absolute bottom-50" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div>

<%- include('partials/endblock') %>